<h>Calory Tracker</h>
<div class="header-container">
  <div class="container">
    <form action="">
    <label for="searchBox">Search</label><br><br>
    <input type="text" id="searchBox"><br><br>
  </form>
  </div>
  <div class="container-const">
    <form action="">
      <input type="text" value="Add New Food"><br><br>
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="Exmaple Name"><br><br>
      <label for="calories">Calories</label>
      <input type="text" id="calories" placeholder="250"><br><br>
      <label for="image">Image</label>
      <input type="text" id="image" placeholder=""><br><br>
    </form>
  </div>
  <div class="container-cont">
    <form action="">
      <fieldset
    </form>
  </div>

</div>